#------------------
# Basic                                                                                               #------------------   
# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp

# Ignore compressed files
*.zip

# Ignore dependency directories
node_modules/
venv/
__pycache__/

#------------------
# C/C++
#------------------
# Object files
*.o
*.obj

# Executables
*.exe
*.out
*.a
*.so

#------------------
# Obsidian   
#------------------ 
doc/.obsidian/*  


#------------------
# New files after running Vivado   
#------------------ 
s4InfoAtelier4/.metadata/.plugins/org.eclipse.core.resources/*
